/* basic styles */
* {
  padding: 0;
  margin: 0;
  outline: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* common styles  */
.section-title {
  color: #0a0826;
  font-size: 38px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 100px;
}

body {
  /* font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif; */
}

/* header section styles  */
header {
  padding-top: 40px;
}

nav .navbar-brand {
  color: #3e3e3e;
  font-size: 22px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

nav .nav-link {
  color: #3e3e3e;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  margin-right: 16px;
}

.banner {
  margin-top: 40px;
}

.banner .carousel-item .carousel-caption h5 {
  color: #fff;
  font-size: 48px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.banner .carousel-item .carousel-caption p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
  margin-bottom: 17px;
}
.banner .carousel-item .carousel-caption button {
  color: #3f87f5;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 10px 43px;
  margin-bottom: 42px;
}

/* album section styles  */
.album {
  margin-top: 100px;
}

.album-description .album-title {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}
.album-description .album-content {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.album-description button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  padding: 10px 24px;
}

/* toasts section styles  */
.toast {
  width: 263px;
  border: 0;
  border-left: 9px solid #007cff;
}
.bottom-45 {
  top: 1000px;
}
.toast .toast-body .fa-gift {
  color: #007cff;
  font-size: 22px;
}
.toast .toast-body span {
  color: #505050;
  font-size: 14px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}

/* our-package section styles  */
.our-package {
  margin-top: 100px;
}
.package {
  padding: 40px 30px 20px;
  box-shadow: 0 3px 5px 0 #84819954;
  border-radius: 5px;
  transition: all 1.5s;
}
.price {
  color: #231d4f;
  font-size: 36px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  transition: all 1.5s;
}
.package-name {
  color: #231d4f;
  font-size: 27px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  margin-bottom: 15px;
  transition: all 1.5s;
}
.package-text {
  color: #848199;
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  transition: all 1.5s;
}
.package-description .package-text span {
  color: #5243c2;
  font-size: 15px;
  padding: 1px 5px;
  border-radius: 72%;
  background-color: #5243c275;
  margin-right: 5px;
  transition: all 1.5s;
}
.choose-btn {
  color: #3f87f5;
  padding: 13px 50px;
  font-size: 15px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  background-color: #f496d248;
  transition: all 1.5s;
}

.end-70 {
  right: 20px;
}

.package:hover {
  padding: 40px 30px 20px;
  background-color: #3f87f5;
  border-radius: 20px;
  box-shadow: 0 34px 34px 0 #3f88f594;
}
.package:hover .price,
.package:hover .package-name,
.package:hover .package-text {
  color: #fff;
}
.package:hover .package-description .package-text span {
  color: #fff;
  background-color: #ffffff34;
}
.package:hover .choose-btn {
  color: #3f87f5;
  background-color: #fff;
}

/* client-reviews section styles */
.client-reviews {
  margin-top: 100px;
}
.card {
  border: 0;
  box-shadow: 12px 0 30px 0 #0000002c;
}
.card-body {
  padding: 22px 53px;
}
.card-text {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  margin-bottom: 15px;
}
.client-name,
.client-profession {
  color: #0c1920;
  font-size: 14px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-top: 15px;
  margin-bottom: 8px;
}
.client-profession {
  color: #747474;
  margin: 0;
}
